<ion-content padding>

      <ion-icon name="close" color='secondary' style='font-size: 50px; float:right;padding-right: 10px;' (click)='closeModal()'></ion-icon>
  <!--<ion-row>
      <ion-col col-2 [navPush]="homePage">
      <ion-icon name="add-circle" color='secondary' style='font-size: 50px;' (click)='agregajuego()'></ion-icon>
      </ion-col>

      </ion-row>-->

            <h3>Juegos Consecutivo</h3>

      <h6 *ngIf='juegos'>Numero Juegos : {{juegos.length}}</h6>


      <button ion-button (click)='jugar()'>Jugar</button>
      <ion-list>
      <ion-item *ngFor='let j of juegos' >
      
     
      <ion-label>{{j.jue_descripcion}}</ion-label>

 
  <ion-checkbox color="dark"  [(ngModel)]='j.selecciona'></ion-checkbox>



      </ion-item>

      

    

      </ion-list>

</ion-content>