<ion-content padding>
<ion-icon name="close" color='secondary' style='float:right; padding-right:20px; font-size: 50px; ' (click)='salir()'></ion-icon>

<h1>Tablero del Juego Actual</h1>

<div class="tablero header">

		<div>Jugador</div>
		<div>Tipo de Tiro</div>
		
		<div>Tiempo de Pateo</div>
		<div>Area que marco entrenador</div>
		<div>Area que dio jugador</div>
		
		<div>Puntaje</div>
		<div>Puntaje Total</div>


</div>

<div >
<div class='tablero'  *ngFor="let d of jugadas" >

		<div>{{d.jug_codigo.jug_nombres}}</div>
		<div>{{d.tipotiro?d.tipotiro:''}}</div>
		<div>{{d.primerreloj}}</div>
		<div>{{d.area}}</div>
		
		<div>{{d.jjh_area_acierto?d.jjh_area_acierto:''}}</div>
		

	

		<div>{{d.jjh_puntaje | number}}</div>
		<div>{{d.puntajetotal?(d.puntajetotal.toLocaleString(undefined, {minimumFractionDigits: 2})):''}}</div>

</div>

</div>
</ion-content>