tablero {


	font-family:  $font-family;
	background: #fff;
	padding: 12px;







}

.modal-wrapper {
    left: calc(50% - (921px/2)) !important;
    top: calc(50% - (600px/2));
    position: absolute;
    width: 880px !important;
    height: 600px;
}

.tablero {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    /* grid-gap: 10px; */


    /* padding: 10px; */
 
}

.tablero > div {

    text-align: center;
    font-size: 13px;
        text-align: center;
    font-size: 13px;
    width: 123px;
    border:1px solid #7e887e;
    padding: 8px;


}



