<!-- Generated template for the MiperfilComponent component -->
<div style='padding:20px;'>
<ion-icon name="close" color='secondary' style='float:right; padding-right:20px; font-size: 50px; ' (click)='salir()'></ion-icon>


<h3>Mi Perfil</h3>

<div *ngIf='user'>
<ion-item>Usuario: {{user.usuario}}</ion-item>
<ion-item>Password: {{user.password}}</ion-item>
<ion-item>Club {{user.club}} {{club?club.Nombre_Comercial:''}}</ion-item>
</div>



</div>
