<!--
  Generated template for the NuevojugadorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nuevo Jugador</ion-title>

    <ion-icon name="close" color='secondary' style='font-size: 50px; float:right;padding-right: 10px;' (click)='closeModal()'></ion-icon>
  </ion-navbar>

</ion-header>


<ion-content padding>




	 <form>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.addnombres" name="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Apellidos</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.addapellidos" name="title"></ion-input>
      </ion-item>


          <ion-item>
        <ion-label>Tipo de Doc.</ion-label>
        <ion-select [(ngModel)]="jugador.addtipodoc" name='tipodedoc' >
          <ion-option *ngFor="let s of tiposdedoc | async" [value] = "s.Codigo" >{{s.Descripcion}}</ion-option>
        </ion-select>
      </ion-item>



      <ion-item>
        <ion-label>Nro Doc</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.addnrodoc" name="title"></ion-input>
      </ion-item>




      <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-select [(ngModel)]="jugador.addsexo" name='sexo' >
          <ion-option *ngFor="let s of sexos | async" [value] = "s.Codigo" >{{s.Descripcion}}</ion-option>
        </ion-select>
      </ion-item>

       <ion-item>
        <ion-label>Peso</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.addpeso" name="title"></ion-input>
      </ion-item>

      
  <div style='height:20px;'></div>

	<button ion-button round (click)='agregajugador(jugador)'>Agregar</button>
    </form>

</ion-content>



