<!-- Generated template for the ResultadoComponent component -->
<ion-content padding>
<ion-icon name="close" color='secondary' style='float:right; padding-right:20px; font-size: 50px; ' (click)='salir()'></ion-icon>



<div padding style='padding:20px;'>



 <h3 > {{menu}}</h3>

<ion-item *ngIf='menu=="Por Tiro"'>
<ion-label >Escoja Tipo de Tiro</ion-label>
<ion-select [(ngModel)]="tipotiro" (ionChange)='cambia(tipotiro)' >
     <ion-option *ngFor="let key of tiros | async" >{{key.Descripcion}}</ion-option>
</ion-select>
</ion-item>

<ion-item *ngIf='menu=="Por Fecha"'>
  <ion-label>Fecha Inicio</ion-label>
  <ion-datetime [(ngModel)]="fechainicio" display-format="MMM DD, YYYY HH:mm" (ionChange)='cambiafecha(fechainicio,fechafin)'></ion-datetime>
</ion-item>


<ion-item *ngIf='menu=="Por Fecha"'>
  <ion-label>Fecha Fin</ion-label>
  <ion-datetime [(ngModel)]="fechafin" display-format="MMM DD, YYYY HH:mm" (ionChange)='cambiafecha(fechainicio,fechafin)'></ion-datetime>
</ion-item>

</div>

<div class="tablero header">

		<div>Jugador</div>
		<div>Tipo de Tiro</div>
		
		<div>Tiempo de Pateo</div>
		<div>Area que marco entrenador</div>
		<div>Area que dio jugador</div>
		
		<div>Puntaje</div>
		<div>Puntaje Total</div>


</div>
<div class='tablero'  *ngFor="let d of jugadas" >

		<div>{{d.jug_codigo.jug_nombres}}</div>
		<div>{{d.tipotiro?d.tipotiro:''}}</div>
		<div>{{d.primerreloj}}</div>
		<div>{{d.area}}</div>
		
		<div>{{d.jjh_area_acierto?d.jjh_area_acierto:''}}</div>
		

	

		<div>{{d.jjh_puntaje | number}}</div>
		<div>{{d.puntajetotal?(d.puntajetotal.toLocaleString(undefined, {minimumFractionDigits: 2})):''}}</div>

</div>

</ion-content>