      <div >

      <ion-grid>

      <ion-row>
      <ion-col col-2>
      <button ion-button color="dark"  round full (click)='cuentapersonal=true;usuariosdelclub=false;permisos=false' >Cuenta Personal</button>
      </ion-col>

      <ion-col col-2>
      <button ion-button color="dark" round full  (click)='usuariosdelclub=true;cuentapersonal=false;permisos=false'>Usuarios del Club</button>
      </ion-col>

      <ion-col col-2>
      <button ion-button color="dark" round full (click)='usuariosdelclub=false;cuentapersonal=false;permisos=true'>Permisos</button>
      </ion-col>
      </ion-row>

      </ion-grid>


      <ion-grid *ngIf='usuariosdelclub'>

      <ion-row>
      <ion-col col-2>
      <ion-icon name="add-circle" color='secondary' style='font-size: 50px;'></ion-icon>
      </ion-col>

      </ion-row>


      <ion-list>
      <ion-item>
      <ion-avatar item-start>
      <img src="https://images.supersport.com/2015/6/Paolo-Guerrero-lookson-150625G300.jpg">
      </ion-avatar>
      <h2>Paolo Guerrero</h2>
      <h3>Delantero</h3>
      <p>Coquero rehabilitado</p>


      <button ion-button clear item-end>Editar</button>
      <button ion-button clear item-end>Habilitar</button>
      <button ion-button clear item-end>Eliminar</button>


      </ion-item>

      <ion-item>
      <ion-avatar item-start>
      <img src="http://espndeportes-assets.espn.go.com/2003/photos2013/0213/a_cuevas_300.jpg">
      </ion-avatar>
      <h2>Cuevitas</h2>
      <h3>Mediocampista</h3>
      <p>Mediocampista</p>


      <button ion-button clear item-end>Editar</button>
      <button ion-button clear item-end>Habilitar</button>
      <button ion-button clear item-end>Eliminar</button>



      </ion-item>


      <ion-item>
      <ion-avatar item-start>
      <img src="https://deportesimagenes.canalrcn.com/ImgDeportes/s3fs-public/gareca1_1.jpg">
      </ion-avatar>
      <h2>Gareca</h2>
      <h3>Entrenador</h3>
      <p>Argentino Loquito</p>

      <button ion-button clear item-end>Editar</button>
      <button ion-button clear item-end>Habilitar</button>
      <button ion-button clear item-end>Eliminar</button>

      </ion-item>

      </ion-list>

      </ion-grid>


      <ion-list *ngIf='cuentapersonal'>

      <ion-item>
      <ion-label floating>Nombre Completo</ion-label>
      <ion-input type="text"  [(ngModel)]='inputtext'></ion-input>
      </ion-item>

      <ion-item>
      <ion-label floating>DNI</ion-label>
      <ion-input type="text"  [(ngModel)]='inputtext'></ion-input>
      </ion-item>

      <ion-item>
      <ion-label floating>Telefono</ion-label>
      <ion-input type="text"  [(ngModel)]='inputtext'></ion-input>
      </ion-item>


      <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text"  [(ngModel)]='inputtext'></ion-input>
      </ion-item>

      <ion-item>
      <ion-label floating>Contraseña:</ion-label>
      <ion-input type="password" #password></ion-input>
      </ion-item>

      <div padding>
      <button  ion-button (click)="saveData()" item-left>Guardar</button>

      </div>

      </ion-list>


      <ion-list *ngIf='permisos'>


      <ion-list-header>
      Modulo Cuenta Personal
      </ion-list-header>

      <ion-item>

      <ion-label>Editar informacion personal </ion-label>
      <ion-toggle  color='dark'></ion-toggle>
      <ion-toggle  color='secondary'></ion-toggle>
      <ion-toggle  color='danger'></ion-toggle>
      </ion-item>


      <ion-item>

      <ion-label>Ver lista de juegos registrados </ion-label>
      <ion-toggle  color='dark'></ion-toggle>
      <ion-toggle  color='secondary'></ion-toggle>
      <ion-toggle  color='danger'></ion-toggle>
      </ion-item>

      <ion-item>

      <ion-label>Editar informacion personal </ion-label>
      <ion-toggle  color='dark'></ion-toggle>
      <ion-toggle  color='secondary'></ion-toggle>
      <ion-toggle  color='danger'></ion-toggle>
      </ion-item>


      <ion-list-header>
      Modulo de usuarios del club deportivo
      </ion-list-header>

      <ion-item>

      <ion-label>Editar informacion personal </ion-label>
      <ion-toggle  color='dark'></ion-toggle>
      <ion-toggle  color='secondary'></ion-toggle>
      <ion-toggle  color='danger'></ion-toggle>
      </ion-item>


      <ion-item>

      <ion-label>Ver lista de juegos registrados </ion-label>
      <ion-toggle  color='dark'></ion-toggle>
      <ion-toggle  color='secondary'></ion-toggle>
      <ion-toggle  color='danger'></ion-toggle>
      </ion-item>

      <ion-item>

      <ion-label>Editar informacion personal </ion-label>
      <ion-toggle  color='dark'></ion-toggle>
      <ion-toggle  color='secondary'></ion-toggle>
      <ion-toggle  color='danger'></ion-toggle>
      </ion-item>


      </ion-list>


      </div>