<!-- Generated template for the SeleccionajugadorComponent component -->
<div>

<ion-icon name='close' style='font-size: 4em;
    float: right;
    top: 11px;
    margin-right: 19px;' (click)='salir()'></ion-icon>
<h3 padding>Creacion del Juego  <span *ngIf='activasecuencia'>Secuencia</span></h3>
  <ion-item>
  <ion-label>Seleccione Jugadores</ion-label>
  <ion-select [(ngModel)]="filtro.jugadores" multiple='true' >
    <ion-option *ngFor="let key of jugadores | async">{{key.Jugador}}</ion-option>
  </ion-select>
</ion-item>


  <ion-item *ngIf='filtro.jugadores'>
  <ion-label>Seleccione Tipo Tiro</ion-label>
  <ion-select [(ngModel)]="filtro.tipotiro"  >
    <ion-option *ngFor="let key of tipotiro | async">{{key.Descripcion}}</ion-option>
  </ion-select>
</ion-item>

<ion-row>
<ion-col>
<ion-item *ngIf='filtro.tipotiro'>
<ion-label>Tiempo de Patear</ion-label>
<ion-datetime  displayFormat="HH:mm:ss" pickerFormat="HH:mm:ss" [(ngModel)]="filtro.primer_reloj" ></ion-datetime>
</ion-item>
</ion-col>


<ion-col>
<ion-item *ngIf='filtro.tipotiro'>
<ion-label>Prepara para patear</ion-label>
<ion-datetime displayFormat="HH:mm:ss" pickerFormat="HH:mm:ss" [(ngModel)]="filtro.segundo_reloj" ></ion-datetime>
</ion-item>
</ion-col>


</ion-row>

<ion-row *ngIf='!activasecuencia'>
	<ion-col>
<ion-item *ngIf='filtro.tipotiro' >
  <ion-label>Repite Area</ion-label>
  <ion-checkbox color="dark" [(ngModel)]="filtro.repitejuego"></ion-checkbox>
</ion-item>
</ion-col>

<ion-col>

<ion-item *ngIf='filtro.repitejuego' >
    <ion-label>Cuantas Veces?</ion-label>
    <ion-input type="number" value="" [(ngModel)]="filtro.numeroveces"></ion-input>
 </ion-item>

</ion-col>
</ion-row>
   <ion-item *ngIf='filtro.tipotiro'>
  <ion-label>Seleccione Defensas</ion-label >
  <ion-select [(ngModel)]="filtro.defensas"  multiple="true">
    <ion-option *ngFor="let key of jugadores | async">{{key.Jugador}}</ion-option>
  </ion-select>
</ion-item>

<button ion-button round *ngIf='filtro.tipotiro' (click)='agrega(filtro)'>Agregar</button>
</div>


<h3 *ngIf='juego.length>0' padding>Juego</h3>

<ion-item *ngFor="let key of juego">
     
      <ion-col>{{key.jugadores}}</ion-col>
      <ion-col>{{key.tipotiro}}</ion-col>
       <ion-col>{{key.numeroveces}} Veces</ion-col>
        
          <ion-col>{{key.primer_reloj}}</ion-col>
          <ion-col>{{key.segundo_reloj}}</ion-col>


 </ion-item>


<ion-footer padding>
 <button *ngIf='juego.length>0 && activasecuencia' ion-button round  (click)='empezar("agregasecuencia")'>

Agregar Secuencia

</button>

<button *ngIf='juego.length>0 && !activasecuencia' ion-button round  (click)='empezar("empezarjugar")'>

Empezar Jugar

</button>






</ion-footer>
