page-home {


.grid-container{

    display: grid;
    grid-template-columns: auto 60% auto;
    text-align: center;

    padding: 15px;
}


.grid-item {

  border: 1px solid #fff;

  font-size: 20px;
  text-align: center;
}

.tiempos{
  display: grid;
     grid-template-columns: auto 50% auto;

}

.tiempos div{

text-align: center;
    color: #fff;
    background: #252323;
    /* border-radius: 41px; */
    padding: 2px;
    margin-right: 11px;
    padding: 4px;
    font-size: 15px;
    border-radius: 7px;


}


.cola{

display: grid;
    grid-template-columns: auto 60% ;
    background: #20ca20;
    padding: 11px;
    color: #fff;
    font-size: 17px;


  
}

.menu{

    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(7, 1fr);
    /*grid-gap: 5px;*/
    /* grid-auto-rows: 100px; */
    grid-auto-rows: minmax(5px, auto);
        padding-left: 12px;
    padding-right: 12px;


  
}

/*.menu div{
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background: #234;
    color: #fff;
    margin: 10px;
    border-radius: 8px;
    margin: 3px;

    border-radius: 5px;
}*/



////Botones

.etiqueta{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nuevo_juego{
    grid-column:1;
    grid-row:1/2
}

.submenu:hover{
    background: #52bc52;
    color: #fff;
}
.guardado{
   grid-column: 2;
    grid-row: 1/2;
}
.repetir{
    grid-column:1;
    grid-row:3/4;
}
.consecutivo{
    grid-column:1;
    grid-row:4/5
}
.aleatorio{
    grid-column:1;
    grid-row:5/6;
}

.juego{
    grid-column:1;
    grid-row:4/5;
}
.puntaje{
    grid-column:2;
    grid-row:4/5;

}


.miperfil{
    grid-column:3;
    grid-row:4/5;
}
.tablero_actual{
    grid-column:4;
    grid-row:4/5;
}
.manual_usuario{
    grid-column:5;
    grid-row:4/5;
}
.puntajeSN{
    grid-column:6;
    grid-row:4/5;
}
.resultados{
    grid-column:7;
    grid-row:4/5;
}

.submenu{
    background: #fff;
    color: #234;
    padding: 13px;
    border-radius: 1px;
    /* border: 1px solid #234; */
    border-top: 1px solid #31d631;
}


ion-fab {
    position: absolute;
    z-index: 999;
    width: 57px !important;
}


.punch {
    background: #52bf52;
    border-top: 1px solid #678667;
    border-right: 1px solid #475d47;
    border-bottom: 1px solid #2c462c;
    border-left: 1px solid #52bf52;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 10px 1px #52bf52, 0px 1px 0 #52bf52, 0 6px 0px #5a7b5d, 0 8px 4px 1px #111111;
    box-shadow: inset 0 1px 10px 1px #50ab50, 0px 1px 0 #385238, 0 6px 0px #1c4e1c, 0 8px 4px 1px #3e6544;
    color: #fff;
    font:  16px $font-family, helvetica, arial, sans-serif;
    line-height: 1;
    margin-bottom: 10px;
    padding: 10px 0 12px 0;
    text-align: center;
    z-index:1000;

    .menujuego,.menupuntaje,.menuresultado,.menupuntajeSN{

        display: none;
    }


    /* text-shadow: 0px -1px 1px #1e2d4d; */
    
    /* -webkit-background-clip: padding-box; */

}
  
.punch:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #52bf52, 0px 1px 0 #1d2c4d, 0 6px 0px #52bf52, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #52bf52, 0px 1px 0 #52bf52, 0 6px 0px #113311, 0 8px 4px 1px #2b582b;
    cursor: pointer;

     }

.punch:active {


        webkit-box-shadow: inset 0 1px 10px 1px #52bf52, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
        -webkit-box-shadow: inset 0 1px 10px 1px #68c168, 0 1px 0 #1d2c4d, 0 2px 0 #151d15, 0 4px 3px 0 #141d14;
        box-shadow: inset 0 1px 10px 1px #388c38, 0 1px 0 #388c38, 0 2px 0 #122f12, 0 4px 3px 0 #092909;
        background: #388c38;






}

.punch:hover{


        .menujuego,{

                position: absolute;
                display: block;
                bottom: 54px;
                width: 175px;
                text-align: -webkit-left;
                z-index: 100000;
               
        }

        .menupuntaje{

            position: absolute;
            display: block;
            bottom: 70px;
            width: 30%;
            border: 1px solid #234;
            text-align: -webkit-left;
            -webkit-transition: all 2s;
            transition: all 2s;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }

        .menupuntajeSN{

            position: absolute;
            display: block;
            bottom: 70px;
            width: 20%;
            border: 1px solid #234;
            text-align: -webkit-left;
            -webkit-transition: all 2s;
            transition: all 2s;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }

        .menuresultado{
                position: absolute;
                display: block;
                bottom: 163px;
                right: 13px;
                width: 14em;
                text-align: -webkit-left;
        }

}


.nocompleto{

    opacity:0;
}


.arco_horizontal{

    background: url(../assets/imgs/arco.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100% 100%;
    //opacity: 0;

    ///PADINNG PARA ENCAJE LA IMAGEN DEL ARCO (POSTE)
    padding: 20px;
    padding-bottom: 0px;


}




    ion-slides {

    //height: 46px;
    /* height: 100%; */
}


.datetime-text {
    overflow: visible !important;

}


.item-cover {
    position: relative;
    width: auto;
}


.barra_inferior{

   // background: #dbdfe4;
    //color: #0a0303;
}

    font-family: $font-family, sans-serif;



    .pru{
        border: 1px solid #234;
        padding:12px;
    }

	.primerarco{

		background:#32db63;
		color:#fff !important;
        opacity: 1;
	}

    .tiroraso{

        background:#234;
        color:#fff !important;
        opacity: 1;
    }

	.segundoarco{

		background:yellow;
		color:#234 !important;
        opacity: 1;
	}

	.tercerarco{

		background:#2a64f3;
		color:#fff !important;
        opacity: 1;
	}


	.cuartoarco{

		background:#ec5858;
		color:#fff !important;
        opacity: 1;
	}

    .tiroraso{

        background:#6424d6;
        color:#fff !important;
    }

.apuntapelota{

    position: absolute;
    bottom: 56px;
    /* padding: 39px; */
    font-size: 91px;
    right: 22px;
}

ion-slide{
        background: #234;
    color: #fff;
    border-radius: 2px;
    padding: 0px;
    
    padding-bottom: 12px;
    /* border: 4px solid #4e7523; */
    //opacity: .8;
    margin-right: 8px;
    font-size:12px !important;
    padding: 8px;
}

.activajugador{

        background: #fff;
    border: 0px solid #59acff;
    box-shadow: 0px 0px 30px #8BC34A;
    color: #000;
    font-size: 13px !important;


}


.desactivajugador{



    //background: #53bf53;
    font-size: 13px !important;
    background:#53bf53;
    border-radius: 5px;
 
 
    
}



.todo{


  display:grid;
  grid-template-columns: 8% 80% 8%;
  
  
}


.controles{

        padding-left: 17px;
    margin: 1px;
    z-index: 9;
}

.controles div{

    //border: 1px solid #6fe25f;
    text-align: center;
    padding-top: 5px;
    padding: 14px;
    background: #fff;
    height: 50px;
    border-radius: 50%;
    width: 50px;
    margin-top:2px;
}

.arco_horizontal{
  display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(23, 1fr);
    /*grid-gap: 5px;*/
    /* grid-auto-rows: 100px; */
    grid-auto-rows: minmax(5px, auto);

}

.activomemoria{

	  background: red;
    padding: 7px;
    border-radius: 50%;
    max-width: 4px;
}

.inactivo{

	  background: white;
    padding: 7px;
    border-radius: 50%;
    max-width: 4px;
}

.arco_horizontal div{

    //border: 1px solid #8eec89;
    font-size: 11px;
    text-align: center;
    color: #f7f9fb;
    padding-top: 11px;

    //box-shadow: 0px 0px 16px #A3FF0F;

}

.arco_horizontal .primer_reloj{

  border: 1px solid #aab5c1;
    //height: 40px;
    font-size: 11px;
    text-align: center;
    color: #3e4246;
    padding-top: 0px;
}
.circulos{

  display:grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2%;
  padding:1em;
}

.circulos div{

    
        border-radius: 5%;
            margin-bottom: 4px;
    
}

.datetime-text{
    border: 0px;
}

 .item-ios {
    padding-left: 16px;
    padding-left: 16px;
    border-radius: 34px;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    background-color: none;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}


.A1{
    grid-column: 1;
    grid-row: 1/1;
}

.A2{
    grid-column: 1;
    grid-row: 2/2;
}

.A3{
    grid-column: 1;
    grid-row: 3/3;
}

.A4{
    grid-column: 1;
    grid-row: 4/4;
}


.A5{
    grid-column: 1;
    grid-row: 5/5;
}


.A6{
    grid-column: 1;
    grid-row: 6/6;
}


.A7{
    grid-column: 1;
    grid-row: 7/7;
}

.A8{
    grid-column: 1;
    grid-row: 8/8;
}



.B1{
    grid-column: 2;
    grid-row: 1/1;
}

.B2{
    grid-column: 2;
    grid-row: 2/2;
}

.B3{
    grid-column: 2;
    grid-row: 3/3;
}

.B4{
    grid-column: 2;
    grid-row: 4/4;
}
.B5{
    grid-column: 2;
    grid-row: 5/5;
}
.B6{
    grid-column: 2;
    grid-row: 6/6;
}
.B7{
    grid-column: 2;
    grid-row: 7/7;
}
.B8{
    grid-column: 2;
    grid-row: 8/8;
}

.C1{
    grid-column: 3;
    grid-row: 1/1;
}


.C2{
    grid-column: 3;
    grid-row: 2/2;
}
.C3{
    grid-column: 3;
    grid-row: 3/3;
}
.C4{
    grid-column: 3;
    grid-row: 4/4;
}
.C5{
    grid-column: 3;
    grid-row: 5/5;
}
.C6{
    grid-column: 3;
    grid-row: 6/6;
}
.C7{
     grid-column: 3;
    grid-row: 7/7;
}
.C8{
    grid-column: 3;
    grid-row: 8/8;
}


.D1{
    grid-column: 4;
    grid-row: 1/1;
}
.D2{
    grid-column: 4;
    grid-row: 2/2;
}
.D3{
    grid-column: 4;
    grid-row: 3/3;
}
.D4{
    grid-column: 4;
    grid-row: 4/4;
}
.D5{
    grid-column: 4;
    grid-row: 5/5;
}
.D6{
    grid-column: 4;
    grid-row: 6/6;
}
.D7{
    grid-column: 4;
    grid-row: 7/7;
}
.D8{
    grid-column: 4;
    grid-row: 8/8;
}



.E1{
    grid-column: 5;
    grid-row: 1/1;
}
.E2{
    grid-column: 5;
    grid-row: 2/2;
}
.E3{
    grid-column: 5;
    grid-row: 3/3;
}

.E4{
    grid-column: 5;
    grid-row: 4/4;
}

.E7{
    grid-column: 5;
    grid-row: 7/7;
}








.F1{
    grid-column: 6;
    grid-row: 1/1;
}
.F2{
    grid-column: 6;
    grid-row: 2/2;
}
.F3{
    grid-column: 6;
    grid-row: 3/3;
}

.F4{
    grid-column: 6;
    grid-row: 4/4;
}

.F7{
    grid-column: 6;
    grid-row: 7/7;
}

.primer_reloj{
    position: absolute;
    top: 57%;
    left: 25%;
    width: 13%;
    background: #234;
    color: #fff;
        z-index: 10000;

}

.fondo {
  //background:  url("http://www.palmadelrio.es/sites/default/files/cesped.artificial.2.jpg") no-repeat center center fixed;
  background: green;

}


.item-ios.item-block .item-inner {

    border-bottom: 0px solid #c8c7cc !important;
}

.segundo_reloj{
    position: absolute;
    top: 57%;
    left: 57%;
    width: 13%;
    background: #234;
    color: #fff;
    z-index: 10000;

}

.tercer_reloj{
    grid-column: 16/19;
    grid-row: 6/7;
    border:1px solid #234;

}

.duracion{
   
  

    border-radius: 18px;
    background: color($colors, primary, base);
   color: #fff !important;
    font-size: 17px !important;
    padding: 12px !important;
   

}

.duracion_segundo_reloj{

  

    border-radius: 18px;
    background: color($colors, dark, base) !important;
    color: #fff !important;
    font-size: 17px !important;
    padding: 12px !important;

   

}

.duracion_tercer_reloj{
    grid-column: 11/15;
    grid-row: 7/8;
  

    border-radius: 18px;
    background: color($colors, secondary, base);
    color: #fff !important;
    font-size: 17px !important;
    

}


.duracion_tercer_reloj{

    background: color($colors, secondary, base) !important;

}


.datetime-md {
    padding: 0px 0px 0px 0px;
    text-align: center;
}



.G1{
    grid-column: 7;
    grid-row: 1/1;
}
.G2{
    grid-column: 7;
    grid-row: 2/2;
}
.G3{
    grid-column: 7;
    grid-row: 3/3;
}

.G4{
    grid-column: 7;
    grid-row: 4/4;
}

.G7{
    grid-column: 7;
    grid-row: 7/7;
}



.H1{
    grid-column: 8;
    grid-row: 1/1;
}
.H2{
    grid-column: 8;
    grid-row: 2/2;
}
.H3{
    grid-column: 8;
    grid-row: 3/3;
}

.H4{
    grid-column: 8;
    grid-row: 4/4;
}

.H7{
    grid-column: 8;
    grid-row: 7/7;
}


.I1{
    grid-column: 9;
    grid-row: 1/1;
}
.I2{
    grid-column: 9;
    grid-row: 2/2;
}
.I3{
    grid-column: 9;
    grid-row: 3/3;
}

.I4{
    grid-column: 9;
    grid-row: 4/4;
}

.I7{
    grid-column: 9;
    grid-row: 7/7;
}





.J1{
    grid-column: 10;
    grid-row: 1/1;
}
.J2{
    grid-column: 10;
    grid-row: 2/2;
}
.J3{
    grid-column: 10;
    grid-row: 3/3;
}

.J4{
    grid-column: 10;
    grid-row: 4/4;
}

.J7{
    grid-column: 10;
    grid-row: 7/7;
}



.K1{
    grid-column: 11;
    grid-row: 1/1;
}
.K2{
    grid-column: 11;
    grid-row: 2/2;
}
.K3{
    grid-column: 11;
    grid-row: 3/3;
}

.K4{
    grid-column: 11;
    grid-row: 4/4;
}

.K7{
    grid-column: 11;
    grid-row: 7/7;
}


.L1{
    grid-column: 12;
    grid-row: 1/1;
}
.L2{
    grid-column: 12;
    grid-row: 2/2;
}
.L3{
    grid-column: 12;
    grid-row: 3/3;
}

.L4{
    grid-column: 12;
    grid-row: 4/4;
}

.L7{
    grid-column: 12;
    grid-row: 7/7;
}



.M1{
    grid-column: 13;
    grid-row: 1/1;
}
.M2{
    grid-column: 13;
    grid-row: 2/2;
}
.M3{
    grid-column: 13;
    grid-row: 3/3;
}

.M4{
    grid-column: 13;
    grid-row: 4/4;
}

.M7{
    grid-column: 13;
    grid-row: 7/7;
}



.N1{
    grid-column: 14;
    grid-row: 1/1;
}
.N2{
    grid-column: 14;
    grid-row: 2/2;
}
.N3{
    grid-column: 14;
    grid-row: 3/3;
}

.N4{
    grid-column: 14;
    grid-row: 4/4;
}

.N7{
    grid-column: 14;
    grid-row: 7/7;
}



.NN1{
    grid-column: 15;
    grid-row: 1/1;
}
.NN2{
    grid-column: 15;
    grid-row: 2/2;
}
.NN3{
    grid-column: 15;
    grid-row: 3/3;
}

.NN4{
    grid-column: 15;
    grid-row: 4/4;
}

.NN7{
    grid-column: 15;
    grid-row: 7/7;
}



.O1{
    grid-column: 16;
    grid-row: 1/1;
}
.O2{
    grid-column: 16;
    grid-row: 2/2;
}
.O3{
    grid-column: 16;
    grid-row: 3/3;
}

.O4{
    grid-column: 16;
    grid-row: 4/4;
}

.O7{
    grid-column: 16;
    grid-row: 7/7;
}


.P1{
    grid-column: 17;
    grid-row: 1/1;
}
.P2{
    grid-column: 17;
    grid-row: 2/2;
}
.P3{
    grid-column: 17;
    grid-row: 3/3;
}

.P4{
    grid-column: 17;
    grid-row: 4/4;
}

.P7{
    grid-column: 17;
    grid-row: 7/7;
}


.Q1{
    grid-column: 18;
    grid-row: 1/1;
}
.Q2{
    grid-column: 18;
    grid-row: 2/2;
}
.Q3{
    grid-column: 18;
    grid-row: 3/3;
}

.Q4{
    grid-column: 18;
    grid-row: 4/4;
}

.Q7{
    grid-column: 18;
    grid-row: 7/7;
}

.R1{
    grid-column: 19;
    grid-row: 1/1;
}
.R2{
    grid-column: 19;
    grid-row: 2/2;
}
.R3{
    grid-column: 19;
    grid-row: 3/3;
}

.R4{
    grid-column: 19;
    grid-row: 4/4;
}

.R7{
    grid-column: 19;
    grid-row: 7/7;
}



.S1{
    grid-column: 20;
    grid-row: 1/1;
}
.S2{
    grid-column: 20;
    grid-row: 2/2;
}
.S3{
    grid-column: 20;
    grid-row: 3/3;
}

.S4{
    grid-column: 20;
    grid-row: 4/4;
}

.S5{
    grid-column: 20;
    grid-row: 5/5;
}




.S6{
    grid-column: 20;
    grid-row: 6/6;
}




.S7{
    grid-column: 20;
    grid-row: 7/7;
}

.S8{
    grid-column: 20;
    grid-row: 8/8;
}






.T1{
    grid-column: 21;
    grid-row: 1/1;
}
.T2{
    grid-column: 21;
    grid-row: 2/2;
}
.T3{
    grid-column: 21;
    grid-row: 3/3;
}

.T4{
    grid-column: 21;
    grid-row: 4/4;
}

.T5{
    grid-column: 21;
    grid-row: 5/5;
}
.T6{
    grid-column: 21;
    grid-row: 6/6;
}
.T7{
    grid-column: 21;
    grid-row: 7/7
}

.T8{
    grid-column: 21;
    grid-row: 8/8;
}

//c7,d7,e7,f7,g7,h7,i7,j7,k7,l7,m7,n7,nn7,o7,p7,q7,r7,s7



.U1{
    grid-column: 22;
    grid-row: 1/1;
}
.U2{
    grid-column: 22;
    grid-row: 2/2;
}
.U3{
    grid-column: 22;
    grid-row: 3/3;
}

.U4{
    grid-column: 22;
    grid-row: 4/4;
}

.U5{
    grid-column: 22;
    grid-row: 5/5;
}
.U6{
    grid-column: 22;
    grid-row: 6/6;
}
.U7{
    grid-column: 22;
    grid-row: 7/7
}

.U8{
    grid-column: 22;
    grid-row: 8/8;
}






.v1{
    grid-column: 23;
    grid-row: 1/1;
}
.V2{
    grid-column: 23;
    grid-row: 2/2;
}
.V3{
    grid-column: 23;
    grid-row: 3/3;
}

.V4{
    grid-column: 23;
    grid-row: 4/4;
}

.V5{
    grid-column: 23;
    grid-row: 5/5;
}
.V6{
    grid-column: 23;
    grid-row: 6/6;
}
.V7{
    grid-column: 23;
    grid-row: 7/7
}

.V8{
    grid-column: 23;
    grid-row: 8/8;
}



.item-md{

    padding-left:0px;
}

}
