<!--<ion-header *ngIf='juego '>

  <ion-navbar>
    <ion-title> Juego</ion-title>
  </ion-navbar>

</ion-header>-->




<ion-content  class='fondo'>



 <!--<ion-icon *ngIf='juegoguardado || editajuego || juego' name="arrow-dropleft-circle" color='white' style='font-size: 80px; position: absolute; left:22px;top: 630px;;' (click)='view.dismiss()'></ion-icon>-->

      <div style='height: 5%;'></div>

       <!--<div [ngClass]="grabando? 'activomemoria':'inactivo'" ></div>-->
       <div class='todo' >

             <div class='controles'>


                    <div *ngIf='!grabando' (click)='memoria()'> M</div>

                    <div *ngIf='grabando' style="background:#fb6938;color:#fff;"  (click)='paramemoria()' > M</div>


                    <div *ngIf='!activoarea'  (click)='area()'> A </div>

                    <div *ngIf='activoarea' style="background:#567;color:#fff;" (click)='parararea()'> A </div>


                    <div *ngIf='!activasecuencia'  (click)='secuencia()' > S</div>

                    <div *ngIf='activasecuencia' style="background:#567;color:#fff;" (click)='parasecuencia()' > S</div>


                    <div *ngIf='!activarandom'  (click)='random()'> R</div>

                    <div *ngIf='activarandom' style="background:#567;color:#fff;" (click)='pararandom()' > R</div>

                    <div *ngIf='!activatiro'  (click)='tiro()'> T</div>

                    <div *ngIf='activatiro' style="background:#567;color:#fff;" (click)='paratiro()'> T</div>


                    <div *ngIf='!activaintermitente'  (click)='intermitente()' > I</div>

                    <div *ngIf='activaintermitente' style="background:#567;color:#fff;" (click)='paraintermitente()' >I</div>



                    <div *ngIf='!activaplay && muestraplay'  (click)='play();'>
                    <ion-icon name="play" style='padding-top: 4px;'></ion-icon>
                    </div>

                    <div *ngIf='activaplay'  style="background:#567;color:#fff;font-size:20px;" (click)='paraplay()'>
                    <ion-icon name="hand"></ion-icon>
                    </div>


                   

                    
                    <!--<button size="small" *ngIf='!grabando' ion-button  (click)='memoria()' item-end icon-end>
                      MEMORIA
                    </button>

                     <button size="small" *ngIf='grabando' color='danger' ion-button  (click)='parar()' item-end icon-end>
                      MEMORIA 
                    </button>

                    <button size="small" *ngIf='!activoarea' ion-button  (click)='area()' item-end icon-end>
                      AREA
                    </button>

                     <button size="small" *ngIf='activoarea' color='danger' ion-button  (click)='parararea()' item-end icon-end>
                      AREA 
                    </button>
                 
                 
                  <button ion-button size="small"  (click)='secuencia()' >SECUENCIA</button>
                  <button ion-button size="small"  (click)='aleatorio()' >ALEATORIO</button>
                  <button ion-button size="small"  (click)='tiroraso()' >TIRO RASO</button>
                  <button ion-button size="small"  (click)='intermitente' >INTERMITENTE</button>
                  <button ion-button size="small"  (click)='iniciofin()' >INICIO/FIN</button>-->

              </div>
              <div class='arco_horizontal' (touchmove)='arrastra($event)'>
                

                  
<div class='A1' [ngClass]="array[0].A? 'primerarco':'nocompleto'" (click)='selecciona(array[0])'  (touchend)='finaliza(array[0])' (touchstart)='inicia($event)' >A1</div>
<div class='A2' [ngClass]="array[1].A? 'primerarco':'nocompleto'" (click)='selecciona(array[1])'  (touchend)='finaliza(array[1])' (touchstart)='inicia($event)' >A2</div>
<div class='A3' [ngClass]="array[2].A? 'primerarco':'nocompleto'" (click)='selecciona(array[2])'  (touchend)='finaliza(array[2])' (touchstart)='inicia($event)' >A3</div>
<div class='A4' [ngClass]="array[3].A? 'primerarco':'nocompleto'" (click)='selecciona(array[3])'   (touchend)='finaliza(array[3])' (touchstart)='inicia($event)' >A4</div>
<div class='A5' [ngClass]="array[4].A? 'primerarco':'nocompleto'" (click)='selecciona(array[4])'  (touchend)='finaliza(array[4])' (touchstart)='inicia($event)' >A5</div>
<div class='A6' [ngClass]="array[5].A? 'primerarco':'nocompleto'" (click)='selecciona(array[5])'  (touchend)='finaliza(array[5])' (touchstart)='inicia($event)' >A6</div>
<div class='A7' [ngClass]="array[6].A? 'primerarco':'nocompleto'" (click)='selecciona(array[6])'  (touchend)='finaliza(array[6])' (touchstart)='inicia($event)' >A7</div>
<div class='A8' [ngClass]="array[7].A? 'primerarco':'nocompleto'" (click)='selecciona(array[7])'  (touchend)='finaliza(array[7])' (touchstart)='inicia($event)' >A8</div>

<div class='B1' [ngClass]="array[8].A? 'primerarco':'nocompleto'" (click)='selecciona(array[8])'  (touchend)='finaliza(array[8])' (touchstart)='inicia($event)'>B1</div>
<div class='B2' [ngClass]="array[9].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[9])'  (touchend)='finaliza(array[9])' (touchstart)='inicia($event)'>B2</div>
<div class='B3' [ngClass]="array[10].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[10])' (touchend)='finaliza(array[10])' (touchstart)='inicia($event)'>B3</div>
<div class='B4' [ngClass]="array[11].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[11])'  (touchend)='finaliza(array[11])' (touchstart)='inicia($event)'>B4</div>
<div class='B5' [ngClass]="array[12].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[12])'  (touchend)='finaliza(array[12])' (touchstart)='inicia($event)'>B5</div>
<div class='B6' [ngClass]="array[13].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[13])'  (touchend)='finaliza(array[13])' (touchstart)='inicia($event)'>B6</div>
<div class='B7' [ngClass]="array[14].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[14])'  (touchend)='finaliza(array[14])' (touchstart)='inicia($event)'>B7</div>
<div class='B8' [ngClass]="array[15].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[15])'  (touchend)='finaliza(array[15])' (touchstart)='inicia($event)'>B8</div>

<div class='C1' [ngClass]="array[16].A? 'primerarco':'nocompleto'" (click)='selecciona(array[16])' (touchend)='finaliza(array[16])' (touchstart)='inicia($event)'>C1</div>
<div class='C2' [ngClass]="array[17].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[17])' (touchend)='finaliza(array[17])' (touchstart)='inicia($event)'>C2</div>
<div class='C3' [ngClass]="array[18].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[18])' (touchend)='finaliza(array[18])' (touchstart)='inicia($event)'>C3</div>
<div class='C4' [ngClass]="array[19].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[19])' (touchend)='finaliza(array[19])' (touchstart)='inicia($event)'>C4</div>
<div class='C5' [ngClass]="array[20].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[20])' (touchend)='finaliza(array[20])' (touchstart)='inicia($event)'>C5</div>
<div class='C6' [ngClass]="array[21].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[21])' (touchend)='finaliza(array[21])' (touchstart)='inicia($event)'>C6</div>
<div class='C7' [ngClass]="array[22].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[22])' (touchend)='finaliza(array[22])' (touchstart)='inicia($event)'>C7</div>    
<div class='C8' [ngClass]="array[23].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[23])' (touchend)='finaliza(array[23])' (touchstart)='inicia($event)'>C8</div>


<div class='D1' [ngClass]="array[24].A? 'primerarco':'nocompleto'" (click)='selecciona(array[24])' (touchend)='finaliza(array[24])' (touchstart)='inicia($event)'>D1</div>
<div class='D2' [ngClass]="array[25].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[25])' (touchend)='finaliza(array[25])' (touchstart)='inicia($event)'>D2</div>
<div class='D3' [ngClass]="array[26].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[26])' (touchend)='finaliza(array[26])' (touchstart)='inicia($event)'>D3</div>
<div class='D4' [ngClass]="array[27].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[27])' (touchend)='finaliza(array[27])' (touchstart)='inicia($event)'>D4</div>
<div class='D5' [ngClass]="array[28].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[28])' (touchend)='finaliza(array[28])' (touchstart)='inicia($event)'>D5</div>
<div class='D6' [ngClass]="array[29].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[29])' (touchend)='finaliza(array[29])' (touchstart)='inicia($event)'>D6</div>
<div class='D7' [ngClass]="array[30].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[30])' (touchend)='finaliza(array[30])' (touchstart)='inicia($event)'>D7</div>
<div class='D8' [ngClass]="array[31].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[31])' (touchend)='finaliza(array[31])' (touchstart)='inicia($event)'>D8</div>


      
<div class='E1' [ngClass]="array[32].A? 'primerarco':'nocompleto'" (click)='selecciona(array[32])' (touchend)='finaliza(array[32])' (touchstart)='inicia($event)'>E1</div>
<div class='E2' [ngClass]="array[33].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[33])' (touchend)='finaliza(array[33])' (touchstart)='inicia($event)'>E2</div>
<div class='E3' [ngClass]="array[34].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[34])' (touchend)='finaliza(array[34])' (touchstart)='inicia($event)'>E3</div>
<div class='E4' [ngClass]="array[35].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[35])' (touchend)='finaliza(array[35])' (touchstart)='inicia($event)'>E4</div>




 <div class='F1' [ngClass]="{ 'primerarco': array[36].A, 'nocompleto': !array[36].A ,'tiroraso': array[36].tiroraso }"


 (click)='selecciona(array[36])' (touchend)='finaliza(array[36])' (touchstart)='inicia($event)'>F1</div>



<div class='F2' [ngClass]="array[37].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[37])' (touchend)='finaliza(array[37])' (touchstart)='inicia($event)'>F2</div>
<div class='F3' [ngClass]="array[38].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[38])' (touchend)='finaliza(array[38])' (touchstart)='inicia($event)'>F3</div>
<div class='F4' [ngClass]="array[39].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[39])' (touchend)='finaliza(array[39])' (touchstart)='inicia($event)'>F4</div>


<div class='G1' [ngClass]="{ 'primerarco': array[40].A, 'nocompleto': !array[40].A ,'tiroraso': array[40].tiroraso }"

(click)='selecciona(array[40])' (touchend)='finaliza()' (touchstart)='inicia($event)'>G1</div>
<div class='G2' [ngClass]="array[41].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[41])' (touchend)='finaliza(array[41])' (touchstart)='inicia($event)'>G2</div>
<div class='G3' [ngClass]="array[42].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[42])' (touchend)='finaliza(array[42])' (touchstart)='inicia($event)'>G3</div>
<div class='G4' [ngClass]="array[43].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[43])' (touchend)='finaliza(array[43])' (touchstart)='inicia($event)'>G4</div>




<div class='H1' [ngClass]="{ 'primerarco': array[44].A, 'nocompleto': !array[44].A ,'tiroraso': array[44].tiroraso }" 

(click)='selecciona(array[44])' (touchend)='finaliza(array[44])' (touchstart)='inicia($event)'>H1</div>
<div class='H2' [ngClass]="array[45].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[45])' (touchend)='finaliza(array[45])' (touchstart)='inicia($event)'>H2</div>
<div class='H3' [ngClass]="array[46].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[46])' (touchend)='finaliza(array[46])' (touchstart)='inicia($event)'>H3</div>
<div class='H4' [ngClass]="array[47].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[47])' (touchend)='finaliza(array[47])' (touchstart)='inicia($event)'>H4</div>



<div class='I1' [ngClass]="{ 'primerarco': array[48].A, 'nocompleto': !array[48].A ,'tiroraso': array[48].tiroraso }"

(click)='selecciona(array[48])' (touchend)='finaliza(array[48])' (touchstart)='inicia($event)'>I1</div>
<div class='I2' [ngClass]="array[49].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[49])' (touchend)='finaliza(array[49])' (touchstart)='inicia($event)'>I2</div>
<div class='I3' [ngClass]="array[50].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[50])' (touchend)='finaliza(array[50])' (touchstart)='inicia($event)'>I3</div>
<div class='I4' [ngClass]="array[51].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[51])' (touchend)='finaliza(array[51])' (touchstart)='inicia($event)'>I4</div>


<div class='J1' [ngClass]="{ 'primerarco': array[52].A, 'nocompleto': !array[52].A ,'tiroraso': array[52].tiroraso }"

(click)='selecciona(array[52])' (touchend)='finaliza(array[52])' (touchstart)='inicia($event)'>J1</div>
<div class='J2' [ngClass]="array[53].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[53])' (touchend)='finaliza(array[53])' (touchstart)='inicia($event)'>J2</div>
<div class='J3' [ngClass]="array[54].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[54])' (touchend)='finaliza(array[54])' (touchstart)='inicia($event)'>J3</div>
<div class='J4' [ngClass]="array[55].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[55])' (touchend)='finaliza(array[55])' (touchstart)='inicia($event)'>J4</div>


<div class='K1' [ngClass]="{ 'primerarco': array[56].A, 'nocompleto': !array[56].A ,'tiroraso': array[56].tiroraso }"
(click)='selecciona(array[56])' (touchend)='finaliza()' (touchstart)='inicia($event)'>K1</div>
<div class='K2' [ngClass]="array[57].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[57])' (touchend)='finaliza(array[57])' (touchstart)='inicia($event)'>K2</div>
<div class='K3' [ngClass]="array[58].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[58])' (touchend)='finaliza(array[58])' (touchstart)='inicia($event)'>K3</div>
<div class='K4' [ngClass]="array[59].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[59])' (touchend)='finaliza(array[59])' (touchstart)='inicia($event)'>K4</div>



<div class='L1' [ngClass]="{ 'primerarco': array[60].A, 'nocompleto': !array[60].A ,'tiroraso': array[60].tiroraso }" (click)='selecciona(array[60])' (touchend)='finaliza(array[60])' (touchstart)='inicia($event)'>L1</div>
<div class='L2' [ngClass]="array[61].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[61])' (touchend)='finaliza(array[61])' (touchstart)='inicia($event)'>L2</div>
<div class='L3' [ngClass]="array[62].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[62])' (touchend)='finaliza(array[62])' (touchstart)='inicia($event)'>L3</div>
<div class='L4' [ngClass]="array[63].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[63])' (touchend)='finaliza(array[63])' (touchstart)='inicia($event)'>L4</div>





<div class='M1' [ngClass]="{ 'primerarco': array[64].A, 'nocompleto': !array[64].A ,'tiroraso': array[64].tiroraso }" (click)='selecciona(array[64])' (touchend)='finaliza()' (touchstart)='inicia($event)'>M1</div>
<div class='M2' [ngClass]="array[65].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[65])' (touchend)='finaliza(array[65])' (touchstart)='inicia($event)'>M2</div>
<div class='M3' [ngClass]="array[66].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[66])' (touchend)='finaliza(array[66])' (touchstart)='inicia($event)'>M3</div>
<div class='M4' [ngClass]="array[67].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[67])' (touchend)='finaliza(array[67])' (touchstart)='inicia($event)'>M4</div>



<div class='N1' [ngClass]="{ 'primerarco': array[68].A, 'nocompleto': !array[68].A ,'tiroraso': array[68].tiroraso }" (click)='selecciona(array[68])' (touchend)='finaliza(array[68])' (touchstart)='inicia($event)'>N1</div>
<div class='N2' [ngClass]="array[69].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[69])' (touchend)='finaliza(array[69])' (touchstart)='inicia($event)'>N2</div>
<div class='N3' [ngClass]="array[70].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[70])' (touchend)='finaliza(array[70])' (touchstart)='inicia($event)'>N3</div>
<div class='N4' [ngClass]="array[71].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[71])' (touchend)='finaliza(array[71])' (touchstart)='inicia($event)'>N4</div>


<div class='NN1' [ngClass]="{ 'primerarco': array[72].A, 'nocompleto': !array[72].A ,'tiroraso': array[72].tiroraso }" (click)='selecciona(array[72])' (touchend)='finaliza(array[72])' (touchstart)='inicia($event)'>NN1</div>
<div class='NN2' [ngClass]="array[73].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[73])' (touchend)='finaliza(array[73])' (touchstart)='inicia($event)'>NN2</div>
<div class='NN3' [ngClass]="array[74].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[74])' (touchend)='finaliza(array[74])' (touchstart)='inicia($event)'>NN3</div>
<div class='NN4' [ngClass]="array[75].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[75])' (touchend)='finaliza(array[75])' (touchstart)='inicia($event)'>NN4</div>




<div class='O1' [ngClass]="{ 'primerarco': array[76].A, 'nocompleto': !array[76].A ,'tiroraso': array[76].tiroraso }" (click)='selecciona(array[76])' (touchend)='finaliza(array[76])' (touchstart)='inicia($event)'>O1</div>
<div class='O2' [ngClass]="array[77].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[77])' (touchend)='finaliza(array[77])' (touchstart)='inicia($event)'>O2</div>
<div class='O3' [ngClass]="array[78].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[78])' (touchend)='finaliza(array[78])' (touchstart)='inicia($event)'>O3</div>
<div class='O4' [ngClass]="array[79].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[79])' (touchend)='finaliza(array[79])' (touchstart)='inicia($event)'>O4</div>



<div class='P1' [ngClass]="{ 'primerarco': array[80].A, 'nocompleto': !array[80].A ,'tiroraso': array[80].tiroraso }" (click)='selecciona(array[80])' (touchend)='finaliza()' (touchstart)='inicia($event)'>P1</div>
<div class='P2' [ngClass]="array[81].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[81])' (touchend)='finaliza(array[81])' (touchstart)='inicia($event)'>P2</div>
<div class='P3' [ngClass]="array[82].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[82])' (touchend)='finaliza(array[82])' (touchstart)='inicia($event)'>P3</div>
<div class='P4' [ngClass]="array[83].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[83])' (touchend)='finaliza(array[83])' (touchstart)='inicia($event)'>P4</div>




<div class='Q1' [ngClass]="{ 'primerarco': array[84].A, 'nocompleto': !array[84].A ,'tiroraso': array[84].tiroraso }" (click)='selecciona(array[84])' (touchend)='finaliza()' (touchstart)='inicia($event)'>Q1</div>
<div class='Q2' [ngClass]="array[85].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[85])' (touchend)='finaliza(array[85])' (touchstart)='inicia($event)'>Q2</div>
<div class='Q3' [ngClass]="array[86].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[86])' (touchend)='finaliza(array[86])' (touchstart)='inicia($event)'>Q3</div>
<div class='Q4' [ngClass]="array[87].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[87])' (touchend)='finaliza(array[87])' (touchstart)='inicia($event)'>Q4</div>



<div class='R1' [ngClass]="array[88].A? 'primerarco':'nocompleto'" (click)='selecciona(array[88])' (touchend)='finaliza(array[88])' (touchstart)='inicia($event)'>R1</div>
<div class='R2' [ngClass]="array[89].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[89])' (touchend)='finaliza(array[89])' (touchstart)='inicia($event)'>R2</div>
<div class='R3' [ngClass]="array[90].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[90])' (touchend)='finaliza(array[90])' (touchstart)='inicia($event)'>R3</div>
<div class='R4' [ngClass]="array[91].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[91])' (touchend)='finaliza(array[91])' (touchstart)='inicia($event)'>R4</div>




<div class='S1' [ngClass]="array[92].A? 'primerarco':'nocompleto'" (click)='selecciona(array[92])' (touchend)='finaliza(array[92])' (touchstart)='inicia($event)' >S1</div>
<div class='S2' [ngClass]="array[93].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[93])' (touchend)='finaliza(array[93])' (touchstart)='inicia($event)' >S2</div>
<div class='S3' [ngClass]="array[94].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[94])' (touchend)='finaliza(array[94])' (touchstart)='inicia($event)' >S3</div>
<div class='S4' [ngClass]="array[95].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[95])' (touchend)='finaliza(array[95])' (touchstart)='inicia($event)' >S4</div>
<div class='S5' [ngClass]="array[96].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[96])' (touchend)='finaliza(array[96])' (touchstart)='inicia($event)' >S5</div>
<div class='S6' [ngClass]="array[97].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[97])' (touchend)='finaliza(array[97])' (touchstart)='inicia($event)' >S6</div>
<div class='S7' [ngClass]="array[98].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[98])' (touchend)='finaliza(array[98])' (touchstart)='inicia($event)' >S7</div>
<div class='S8' [ngClass]="array[99].A? 'cuartoarco':'nocompleto'" (click)='selecciona(array[99])' (touchend)='finaliza(array[99])' (touchstart)='inicia($event)' >S8</div>



<div class='T1' [ngClass]="array[100].A? 'primerarco':'nocompleto'" (click)='selecciona(array[100])' (touchend)='finaliza(array[100])' (touchstart)='inicia($event)' >T1</div>
<div class='T2' [ngClass]="array[101].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[101])' (touchend)='finaliza(array[101])' (touchstart)='inicia($event)' >T2</div>
<div class='T3' [ngClass]="array[102].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[102])' (touchend)='finaliza(array[102])' (touchstart)='inicia($event)' >T3</div>
<div class='T4' [ngClass]="array[103].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[103])' (touchend)='finaliza(array[103])' (touchstart)='inicia($event)' >T4</div>
<div class='T5' [ngClass]="array[104].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[104])' (touchend)='finaliza(array[104])' (touchstart)='inicia($event)' >T5</div>
<div class='T6' [ngClass]="array[105].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[105])' (touchend)='finaliza(array[105])' (touchstart)='inicia($event)' >T6</div>
<div class='T7' [ngClass]="array[106].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[106])' (touchend)='finaliza(array[106])' (touchstart)='inicia($event)' >T7</div>
<div class='T8' [ngClass]="array[107].A? 'tercerarco':'nocompleto'" (click)='selecciona(array[107])' (touchend)='finaliza(array[107])' (touchstart)='inicia($event)' >T8</div>



 <div class='U1' [ngClass]="array[108].A? 'primerarco':'nocompleto'" (click)='selecciona(array[108])' (touchend)='finaliza(array[108])' (touchstart)='inicia($event)' >U1</div>
<div class='U2' [ngClass]="array[109].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[109])' (touchend)='finaliza(array[109])' (touchstart)='inicia($event)' >U2</div>
<div class='U3' [ngClass]="array[110].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[110])' (touchend)='finaliza(array[110])' (touchstart)='inicia($event)' >U3</div>
<div class='U4' [ngClass]="array[111].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[111])' (touchend)='finaliza(array[111])' (touchstart)='inicia($event)' >U4</div>
<div class='U5' [ngClass]="array[112].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[112])' (touchend)='finaliza(array[112])' (touchstart)='inicia($event)' >U5</div>
<div class='U6' [ngClass]="array[113].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[113])' (touchend)='finaliza(array[113])' (touchstart)='inicia($event)' >U6</div>
<div class='U7' [ngClass]="array[114].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[114])' (touchend)='finaliza(array[114])' (touchstart)='inicia($event)' >U7</div>
<div class='U8' [ngClass]="array[115].A? 'segundoarco':'nocompleto'" (click)='selecciona(array[115])' (touchend)='finaliza(array[115])' (touchstart)='inicia($event)' >U8</div>



<div class='V1' [ngClass]="array[116].A? 'primerarco':'nocompleto'" (click)='selecciona(array[116])' (touchend)='finaliza(array[116])' (touchstart)='inicia($event)' >V1</div>
<div class='V2' [ngClass]="array[117].A? 'primerarco':'nocompleto'" (click)='selecciona(array[117])' (touchend)='finaliza(array[117])' (touchstart)='inicia($event)' >V2</div>
<div class='V3' [ngClass]="array[118].A? 'primerarco':'nocompleto'" (click)='selecciona(array[118])' (touchend)='finaliza(array[118])' (touchstart)='inicia($event)' >V3</div>
<div class='V4' [ngClass]="array[119].A? 'primerarco':'nocompleto'" (click)='selecciona(array[119])' (touchend)='finaliza(array[119])' (touchstart)='inicia($event)' >V4</div>
<div class='V5' [ngClass]="array[120].A? 'primerarco':'nocompleto'" (click)='selecciona(array[120])' (touchend)='finaliza(array[120])' (touchstart)='inicia($event)' >V5</div>
<div class='V6' [ngClass]="array[121].A? 'primerarco':'nocompleto'" (click)='selecciona(array[121])' (touchend)='finaliza(array[121])' (touchstart)='inicia($event)' >V6</div>
<div class='V7' [ngClass]="array[122].A? 'primerarco':'nocompleto'" (click)='selecciona(array[122])' (touchend)='finaliza(array[122])' (touchstart)='inicia($event)' >V7</div>
<div class='V8' [ngClass]="array[123].A? 'primerarco':'nocompleto'" (click)='selecciona(array[123])' (touchend)='finaliza(array[123])' (touchstart)='inicia($event)' >V8</div>

<!-- Tiro Raso


c7,d7,e7,f7,g7,h7,i7,j7,k7,l7,m7,n7,nn7,o7,p7,q7,r7,s7

  -->

<div class='E7' [ngClass]="array[124].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[124])' (touchend)='finaliza(array[124])' (touchstart)='inicia($event)' >E7</div>
<div class='F7' [ngClass]="array[125].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[125])' (touchend)='finaliza(array[125])' (touchstart)='inicia($event)' >F7</div>
<div class='G7' [ngClass]="array[126].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[126])' (touchend)='finaliza(array[126])' (touchstart)='inicia($event)' >G7</div>
<div class='H7' [ngClass]="array[127].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[127])' (touchend)='finaliza(array[127])' (touchstart)='inicia($event)' >H7</div>
<div class='I7' [ngClass]="array[128].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[128])' (touchend)='finaliza(array[128])' (touchstart)='inicia($event)' >I7</div>
<div class='J7' [ngClass]="array[129].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[129])' (touchend)='finaliza(array[129])' (touchstart)='inicia($event)' >J7</div>
<div class='K7' [ngClass]="array[130].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[130])' (touchend)='finaliza(array[130])' (touchstart)='inicia($event)' >K7</div>
<div class='L7' [ngClass]="array[131].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[131])' (touchend)='finaliza(array[131])' (touchstart)='inicia($event)' >L7</div>
<div class='M7' [ngClass]="array[132].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[132])' (touchend)='finaliza(array[132])' (touchstart)='inicia($event)' >M7</div>
<div class='NN7' [ngClass]="array[133].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[133])' (touchend)='finaliza(array[133])' (touchstart)='inicia($event)' >NN7</div>
<div class='N7' [ngClass]="array[134].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[134])' (touchend)='finaliza(array[134])' (touchstart)='inicia($event)' >N7</div>
<div class='O7' [ngClass]="array[135].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[135])' (touchend)='finaliza(array[135])' (touchstart)='inicia($event)' >O7</div>
<div class='P7' [ngClass]="array[136].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[136])' (touchend)='finaliza(array[136])' (touchstart)='inicia($event)' >P7</div>
<div class='Q7' [ngClass]="array[137].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[137])' (touchend)='finaliza(array[137])' (touchstart)='inicia($event)' >Q7</div>
<div class='R7' [ngClass]="array[138].A? 'tiroraso':'nocompleto'" (click)='selecciona(array[138])' (touchend)='finaliza(array[138])' (touchstart)='inicia($event)' >R7</div>















               











              </div>

              
              <div class='circulos'>

                


                  <div style='background:#54981e;' (click)='pintaarcoverde()'></div>
                  <div style='border: 4px solid #54981e; background:#fff;' (click)='pintarandomverde()'></div> 
                  <div style='background:#ff0;' (click)='pintaamarillo()'></div>
                  <div style='border: 4px solid #ff0; background:#fff;' (click)='pintarandomamarillo()'></div>
                  <div style='background:#2a64f3;' (click)='pintaazul()'></div>
                  <div style='border: 4px solid #2a64f3; background:#fff;' (click)='pintarandomazul()'></div>
                    <div style='background:#ec5858;' (click)='pintarojo()'></div>
                  <div style='border: 4px solid #ec5858; background:#fff;' (click)='pintarandorojo()'></div>

                  

            </div>

          

          </div>

         
  

                    
                     
                      <!--<ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="to_date" ></ion-datetime>
          
                      
                


                     
                        
                        <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="to_date" ></ion-datetime>
          
   
                        
                        <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="to_date" ></ion-datetime>-->
      
      <div class='cola'>

        <div class='etiqueta'>

              <div>En cola para prepararse </div>

               <div   class='animated flipInX' [ngClass]="estado_jugador=='Preparacion'? 'activajugador':'desactivajugador'" style='padding:12px;' >
              {{estado_jugador}}
              </div>

        </div>
        <div>



                <ion-slides  slidesPerView=5  >

                    <ion-slide   *ngFor="let d of jugadoresseleccionados" [ngClass]="d==jugador_actual? 'activajugador':'desactivajugador'">
                       <span>{{d}}</span>
                    </ion-slide>

                    <!--<ion-slide   *ngFor="let d of jugadoresseleccionados;"  >
                       <span>{{d}}</span>
                    </ion-slide>-->

                </ion-slides>

                

        </div>


      </div>    



<div class='grid-container'>

    
    <div>
      
         

         

          
        
    </div>
    <div class='tiempos'>

        <!--<div>
        <ion-datetime  displayFormat="HH:mm:ss" pickerFormat="HH:mm:ss" [(ngModel)]="primer_reloj" ></ion-datetime>
        </div>-->


          

        <div>
        T. de patear<br>
        <span font-size='15px;' *ngIf="estado_jugador=='Preparacion'">{{duracion}} Secs</span>
        </div>

        <div>Esta preparado para patear
          <br>{{jugador_actual}}
        </div>

        <div>
        Prepara para patear<br>
        <span  font-size='15px;' *ngIf="estado_jugador=='En Evaluacion'">{{duracion}} Secs</span>
        </div>
        <!--<div>
        <ion-datetime displayFormat="HH:mm:ss" pickerFormat="HH:mm:ss" [(ngModel)]="segundo_reloj" ></ion-datetime>
        </div>-->


    </div>


    <div></div>
    <!--<div (click)='seleccionarepetirjuego()'>
      
          <button ion-button round color='dark' round>Repetir Juego
          <ion-badge item-end style='margin-left: 5px;'>{{numerorepetir}}</ion-badge>
          </button>
          

    </div>-->

     

</div>




             


<div class='barra_inferior' padding>



       

   
<!--Guarda Juego -->

<ion-grid>

<ion-row>

<ion-col col-3 *ngIf='juego && !editajuego'>

  <button  ion-button round color='dark' (click)='guardadetallejuego()'>Guarda Juego</button>

</ion-col>

<ion-col col-3 *ngIf='juegoguardado'>


<h5 style="color:#fff;" *ngIf='items.length>=indice_item+1'>{{items.length}} Items |  Actual {{indice_item+1}}</h5>




</ion-col>






 </ion-row>

</ion-grid>



<!---SECUENCIA---->
<ion-row *ngIf='indexsecuencia>0'>


<ion-col *ngIf='activaplay' col-3>

<button  ion-button full color='danger' round *ngIf='activasecuencia' class='animated flipInX' >

   Secuencia {{ordernsecuencia}}

</button>

</ion-col>


</ion-row>    

<!--FIN SECUENCIA-->

</div>





<ion-row padding >


      <span style='color:#fff'>Repitiendo juego No {{index_numerorepetir+1}}</span>

      <span style='color:#fff'>Item  {{indice_item_extras}} {{item_extras?item_extras.length:0}}</span>


     

      <span  style='color:#fff' *ngIf='fp'>Pastillas: <span *ngFor="let d of fp"> {{d.pastilla}}</span></span>



      <span style='color:#fff' *ngIf='activasecuencia'>


      | Tipo de Secuencia : {{tiposecuencia}}



      | Numero de Secuencias : {{indexsecuencia}}</span>

         <span style='color:#fff' *ngIf='tiposdetiroseleccionados'>Tipo de tiro : {{tiposdetiroseleccionados}} {{tiposdetiroseleccionadonombre}}   </span>
          <span style='color:#fff' *ngIf='calificacion'> | Ultima Calificacion : {{calificacion?(calificacion.toLocaleString(undefined, {minimumFractionDigits: 2})):'Por definir'}}   </span>
         
<span style='color:#fff'> | {{numerorepetir}}</span>

</ion-row>


<!--<ion-fab   right style='bottom: 234px;' (click)='seleccionadefensa()'>
    <button ion-fab color="warning"><ion-icon name="person"></ion-icon></button>
   
</ion-fab>

<ion-fab   right style='bottom: 160px;' (click)='seleccionajugadores()'>
    <button ion-fab color="light"><ion-icon name="person"></ion-icon></button>
   
</ion-fab>


<ion-fab   right style='bottom: 86px;' (click)='seleccionatipodetiro()'>
    <button ion-fab color="light"><ion-icon name="football"></ion-icon></button>
   
</ion-fab>-->


<ion-fab left [navPush]="rootPage" bottom right >
    <button ion-fab color="dark" ><ion-icon name="settings"></ion-icon></button>
   
</ion-fab>



<!--<ion-icon *ngIf='activapelota' class='animated infinite pulse apuntapelota' color='light' name="arrow-round-down"></ion-icon>-->
                

</ion-content>


<ion-footer>

<div class='menu'>



<div class='juego punch'>Juego

    <div class='menujuego' style='width: 236px;padding-left: 66px;'  >
    <div class='nuevo_juego submenu' (click)='seleccionanuevojuego()'>Nuevo <ion-icon name="arrow-dropright" style='float:right;'></ion-icon></div>
    <div class='guardado submenu' (click)='muestrajuegos()'>Guardados <ion-icon name="arrow-dropright" style='float:right;'></ion-icon></div>
    <div class='repetir submenu' (click)='repiteultimojuego()'>Repetir <ion-icon name="arrow-dropright" style='float:right;'></ion-icon></div>
    <div class='consecutivo submenu' (click)='consecutivo()'>Consecutivos <ion-icon name="arrow-dropright" style='float:right;'></ion-icon></div>
    <div class='aleatorio submenu' (click)='juegoaleatorio()'>Aleatorio <ion-icon name="arrow-dropright" style='float:right;'></ion-icon></div>
    </div>

</div>

<div class='puntaje  punch'>Puntaje

    <div class='menujuego'>
    <div class='bajos submenu' (click)='tableropuntajes("Bajos")'>Bajos <ion-icon name="arrow-dropright" style='float:right;'></ion-icon></div>
    <div class='altos submenu' (click)='tableropuntajes("Altos")'>Altos <ion-icon name="arrow-dropright" style='float:right;'></ion-icon></div> 
    </div>


</div>
<div class='miperfil punch' (click)='traemiperfil()'>Mi Perfil</div>
<div class='tablero_actual punch' (click)='tablero()'>Tablero Actual</div>
<div class='manual_usuario punch'>Manual</div>
<div class='puntajeSN punch'>Puntajes S/N

    <div class='menujuego'>
    <div class='bajos submenu' >Si <ion-icon name="arrow-dropright" style='float:right;'></ion-icon></div>
    <div class='altos submenu'>No <ion-icon name="arrow-dropright" style='float:right;'></ion-icon></div> 
    </div>


</div>
<div class='resultados punch'>Resultados

    <div class='menujuego'  >
    <div class='nuevo_juego submenu' (click)='muestraresultado("Ultimo Juego")'>Ultimo Juego <ion-icon name="arrow-dropright" style='float:right;'></ion-icon></div>
    <div class='guardado submenu' (click)='muestraresultado("Del Dia")'>Del Dia <ion-icon name="arrow-dropright" style='float:right;'></ion-icon></div>
    <div class='repetir submenu' (click)='muestraresultado("Por Tiro")'>Por Tiro <ion-icon name="arrow-dropright" style='float:right;'></ion-icon></div>
    <div class='consecutivo submenu' (click)='muestraresultado("Por Fecha")'>Por Fecha <ion-icon name="arrow-dropright" style='float:right;'></ion-icon></div>
   
    </div>



</div>


</div>

</ion-footer>