<ion-header>

  <ion-navbar>
    <ion-title>Calificación</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


      <h1 >Puntaje: {{calificacion?(calificacion.toLocaleString(undefined, {minimumFractionDigits: 2})):'Por definir'}} </h1>
  


	<!--<ion-item *ngIf='jugador'>

      <ion-avatar item-start>
      <img src="https://static.mediotiempo.com/bs/mt/sports/production/soccer/players/20439f40-5408-4901-9ee7-1cfae4af7b30.jpg">
      </ion-avatar>
      <h2 >{{jugador.nombre}}</h2>
      <h3>Delantero</h3>
      <p>Delantero </p>




      </ion-item>-->


      <div style='height:50px;'></div>


	 <ion-grid style='text-align: center;'>


   	<ion-row style='background: #ddd6e4;
    border-radius: 23px;
    color: #251338;' >

	<!--<ion-col (click)='descalifica(1)' *ngIf='uno'>
	<ion-icon   class='estrella' name="star"></ion-icon>
	</ion-col>

	<ion-col (click)='califica(1)' *ngIf='!uno' >
	<ion-icon   class='estrella' name="star-outline"></ion-icon>
	</ion-col>


	<ion-col (click)='descalifica(2)' *ngIf='dos'>
	<ion-icon   class='estrella' name="star"></ion-icon>
	</ion-col>

	<ion-col (click)='califica(2)' *ngIf='!dos'>
	<ion-icon   class='estrella' name="star-outline"></ion-icon>
	</ion-col>

   	<ion-col (click)='descalifica(3)' *ngIf='tres'>
   	<ion-icon   class='estrella' name="star"></ion-icon>
   	</ion-col>

   	<ion-col (click)='califica(3)' *ngIf='!tres'>
   	<ion-icon     class='estrella' name="star-outline"></ion-icon>
    </ion-col>
   	
    <ion-col (click)='descalifica(4)'  *ngIf='cuatro'>
   	<ion-icon  class='estrella' name="star"></ion-icon>
   	</ion-col>

   	<ion-col (click)='califica(4)' *ngIf='!cuatro'>
   	<ion-icon    class='estrella' name="star-outline"></ion-icon>
   	</ion-col>

   	<ion-col (click)='descalifica(5)' *ngIf='cinco'>
   	<ion-icon   class='estrella' name="star"></ion-icon>
   	</ion-col>

   	<ion-col (click)='califica(5)' *ngIf='!cinco'>
   	<ion-icon    class='estrella' name="star-outline"></ion-icon>
   	</ion-col>-->



   </ion-row>


   </ion-grid>




</ion-content>

<ion-footer >
   <ion-toolbar style='text-align:center;'>
   <button ion-button round color='dark' (click)='closeModal()'>Cerrar</button>

   <button ion-button round color='secondary' (click)='closeModal()'>Aceptar</button>
	</ion-toolbar>
</ion-footer>
