<!--
  Generated template for the EditarjugadorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar Jugador</ion-title>

     <ion-icon name="close" color='secondary' style='font-size: 50px; float:right;padding-right: 10px;' (click)='view.dismiss()'></ion-icon>
  </ion-navbar>

</ion-header>


<ion-content padding>


      <ion-item>
        <ion-label>Nombres</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.updnombres" name="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Apellidos</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.updapellidos" name="apellidos"></ion-input>
      </ion-item>


       <ion-item>
        <ion-label>Tipo de Doc. {{jugador.updtipodoc}}</ion-label>
        <ion-select [(ngModel)]="jugador.updtipodoc" name='tipodedoc' >
          <ion-option *ngFor="let s of tiposdedoc | async" [value] = "s.Codigo"  >{{s.Descripcion}}</ion-option>
        </ion-select>
      </ion-item>



       <ion-item>
        <ion-label>Nro de Doc.</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.updnrodoc" name="ndoc"></ion-input>
      </ion-item>

       

      <ion-item>
        <ion-label>Sexo  {{jugador.updsexo}}</ion-label>

       

        <ion-select [(ngModel)]="jugador.updsexo" name='sexo' >
          <ion-option *ngFor="let s of sexos | async" [value] = "s.Codigo" >{{s.Descripcion}}</ion-option>
        </ion-select>
      </ion-item>

       <ion-item>
        <ion-label>Fecha Nacimiento</ion-label>
        <ion-input type="date" [(ngModel)]="jugador.updfnac" name="fnacimiento"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Peso</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.updpeso" name="peso"></ion-input>
      </ion-item>

        <ion-item>
        <ion-label>Talla</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.updtalla" name="talla"></ion-input>
      </ion-item>

        <ion-item>
        <ion-label>Posicion</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.updposicion" name="posicion"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>Pies</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.updpies" name="pies"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.updemail" name="email"></ion-input>
      </ion-item>

       <ion-item>
        <ion-label>Telefono</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.updtelefono" name="telefono"></ion-input>
      </ion-item>



    



</ion-content>


<ion-footer padding>

	<button ion-button round (click)='actualiza(jugador)'>Actualizar</button>

</ion-footer>
