
<ion-content padding>

      <ion-icon name="close" color='secondary' style='font-size: 50px; float:right;padding-right: 10px;' (click)='closeModal()'></ion-icon>
  <!--<ion-row>
      <ion-col col-2 [navPush]="homePage">
      <ion-icon name="add-circle" color='secondary' style='font-size: 50px;' (click)='agregajuego()'></ion-icon>
      </ion-col>

      </ion-row>-->

            <h3>Juegos Guardados</h3>

      <h6 *ngIf='juegos'>Numero Juegos : {{(juegos| async)?.length}}</h6>
      <ion-list>
      <ion-item *ngFor='let j of juegos | async' >
      
     
 
      <h6>{{j.jue_descripcion}}</h6>

      <button ion-button clear item-end (click)='play(j)'>Play</button>
      

      <button ion-button clear item-end (click)='eliminar(j)'>Eliminar</button>



      </ion-item>

      

    

      </ion-list>

</ion-content>