<!--
  Generated template for the FiltroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='dark'>
    <ion-title>Filtro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list >

      <ion-item>
      <ion-label floating>Jugador</ion-label>
      <ion-input type="text"  [(ngModel)]='inputtext'></ion-input>
      </ion-item>

      <ion-item>
      <ion-label floating>Boton Funcional</ion-label>
      <ion-input type="text"  [(ngModel)]='inputtext'></ion-input>
      </ion-item>

      <ion-item>
      <ion-label floating>Area Seleccionada</ion-label>
      <ion-input type="text"  [(ngModel)]='inputtext'></ion-input>
      </ion-item>


      <ion-item>
      <ion-label floating>Tipo de Area seleccionada</ion-label>
      <ion-input type="text"  [(ngModel)]='inputtext'></ion-input>
      </ion-item>

      <ion-item>
      <ion-label floating>Iteraciones por area</ion-label>
      <ion-input type="password" #password></ion-input>
      </ion-item>

      <ion-item>
      <ion-label floating>Iteraciones por juego</ion-label>
      <ion-input type="password" #password></ion-input>
      </ion-item>

      <div padding>
      <button  ion-button  item-left>Buscar</button>

      </div>

      </ion-list>

</ion-content>
