<!--
  Generated template for the AgregadetallejuegoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Agregar Detalle Juego</ion-title>

     <ion-icon name="close" color='secondary' style='font-size: 50px; float:right;padding-right: 10px;' (click)='closeModal()'></ion-icon>
  </ion-navbar>

</ion-header>




<ion-content padding>


	 <form>
      <ion-item>
        <ion-label>Descripcion</ion-label>
        <ion-input type="text" [(ngModel)]="nuevodetalle.adddescripcion" name="title"></ion-input>
      </ion-item>

      
  <div style='height:20px;'></div>

	<button ion-button round (click)='agregadetallejuego(nuevodetalle)'>Agregar</button>
    </form>

</ion-content>
