<!--
  Generated template for the IngresarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding >



<div style='height: 120px;'></div>

<div style="text-align: center;">
	<h1>SmartGoal</h1>
</div>

<div style='height: 30px;'></div>

	<div style='padding: 6em;padding-left: 16em;
    padding-right: 16em;'>
	  <form  >
      <ion-item>
        <ion-label>Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.usuario" name="usuario" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input [(ngModel)]="usuario.password" name="password" type='password' ></ion-input>
      </ion-item>

     <ion-item>
	    <ion-label>Club</ion-label>
	    <ion-select [(ngModel)]="usuario.club" name='club'>
	      <ion-option *ngFor="let name of  clubes | async " [value] = "name.Codigo" >{{name.Nombre_Comercial}}</ion-option>
	    </ion-select>
	  </ion-item>





      <button ion-button type="button" round (click)="ingresar(usuario)" block>Ingresar</button>
    </form>

    
      <h6>{{alerta}}</h6>

</div>

</ion-content>
