<ion-icon name="close" color='secondary' style='float:right; padding-right:20px; font-size: 50px; ' (click)='closeModal()'></ion-icon>

<div padding>


  <h6>Items del Juego  {{juego.Codigo}}</h6>


	  <ion-row>
      <ion-col col-2>
      <ion-icon name="add-circle" color='secondary' style='font-size: 50px;' (click)='agregadetallejuego()'></ion-icon>
      </ion-col>

      </ion-row>

      <h6>{{juego.Descripcion}}</h6>

      <h6>Numero de Items : {{detallejuegos.length}}</h6>


      <ion-list>
      <ion-item *ngFor='let j of detallejuegos' >
      	

      	<h6>Inicio : {{j.Tiempo_inicio}} Fin : {{j.Tiempo_fin}}</h6>
      	
      	<h6>{{j.TipoTiro}}</h6>




      	 <button ion-button round clear item-end (click)='editardetalle(j)'>Ver</button>

          <button ion-button round clear item-end (click)='eliminardetalle(j)'>Eliminar</button>

      	



      </ion-item>

    

      </ion-list>


</div>
