      <ion-grid >

                  <ion-row>
                  <ion-col col-2>
                  <ion-icon name="add-circle" color='secondary' style='font-size: 50px;' (click)='nuevojugador()'></ion-icon>
                  </ion-col>

                  </ion-row>

                  <h4 *ngIf='jugadores'>Numero Jugadores : {{(jugadores| async)?.length}}</h4>

                  <ion-list>
                        <ion-item *ngFor='let j of jugadores | async' >
                        
                        
                   
                       
                        <ion-row>

                              <ion-col>{{j.Jugador}}</ion-col>
                              <ion-col>Sexo : {{j.Sexo}} </ion-col>
                              <ion-col>Peso :{{j.Peso}} Kg.</ion-col>
                              <ion-col>Talla : {{j.Talla}} cm.</ion-col>
                        </ion-row>

                        

                        <button ion-button clear item-end (click)='editarjugador(j)'>Editar</button>
                        
                        <button ion-button clear item-end>Eliminar</button>


                        </ion-item>

                      
                 

                  </ion-list>

      </ion-grid>