page-configuracion {

	.button-inner{

		font-family: 'Open Sans';
	}


	.header .col {
    background-color:lightgrey;
}


.header{



		font-family: 'Open Sans';


		.col {
	    border: solid 1px #fff;
	    border-bottom-style: none;
	    border-right-style: none;
	}

	.col:last-child {
	    border-right: solid 1px grey;
	}

	.row:last-child .col {
	    border-bottom: solid 1px grey;
	}


}

.activo{

	background-color:color($colors, dark, base);
}





}
