<!--
  Generated template for the ConfiguracionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color='dark'>
    <ion-title>SmartGoal</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>



        <h1>Club {{club?.Nombre_Comercial}}</h1>
    
        <ion-grid >
        <ion-row>

       <!-- <ion-col col-2>
        <button round [ngClass]="usuarios? 'activo':'inactivo'" ion-button  full (click)='historial=false;jugadores=false;usuarios=true;juegos=false;' >Usuarios</button>
        </ion-col>-->

        <!--<ion-col col-2>
        <button round [ngClass]="juegos? 'activo':'inactivo'" ion-button color="primary" full (click)='historial=false;jugadores=false;juegos=true;usuarios=false' >Juegos</button>
        </ion-col>-->

        <ion-col col-2>
        <button round [ngClass]="jugadores? 'activo':'inactivo'" ion-button color="primary" full (click)='historial=false;jugadores=true;juegos=false;usuarios=false' >Jugadores</button>
        </ion-col>

     
        

        <ion-col col-2>
        <button round [ngClass]="configuracion? 'activo':'inactivo'" ion-button color="primary" full (click)='salir()' >Salir</button>
        </ion-col>

        </ion-row>

        </ion-grid>


      <!---USUARIOS-->

      <usuarios *ngIf='usuarios'></usuarios>


      <!--JUEGOS-->



    
      <!--JUGADORES-->


      <jugadores *ngIf='jugadores'></jugadores>

      <!--HISTORIAL-->

    

  


               




</ion-content>
